@media (max-width: 452px) {
  .section1idx {
    .section1idx__div1idx {
      text-align: center;
    }
    .section1idx__div2idx {
      p {
        text-align: center;
      }
    }
  }
  .section2idx {
    text-align: center;
  }

  footer {
    div {
      p {
        text-align: center;
      }
    }
  }
}
