footer {
  background-color: $color-footer;
  margin-top: 5px;

  div {
    .footer__logo a img {
      width: 40px;
      margin: 10px;
      padding: 2px;
    }
    .footer__logo--fondo {
      background-color: #2a7b9b;
    }
  }
}
